<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beanshttp://www.springframework.org/schema/beans/spring-beans.xsdhttp://code.alibabatech.com/schema/dubbohttp://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="world"/>
    <!-- 多注册中心配置 -->
    <dubbo:registry id="chinaRegistry" address="10.20.141.150:9090"/>
    <dubbo:registry id="intlRegistry" address="10.20.154.177:9010" default="false"/>
    <!-- 引用中文站服务 -->
    <dubbo:reference id="chinaHelloService" interface="com.alibaba.hello.api.HelloService" version="1.0.0"                     registry="chinaRegistry"/>
    <!-- 引用国际站站服务 -->
    <dubbo:reference id="intlHelloService" interface="com.alibaba.hello.api.HelloService" version="1.0.0"                     registry="intlRegistry"/>


    <!--服务分组引用-->
    <dubbo:reference interface="com.dhr.basic.dubbo.service.HelloService" group="feedback" id="helloServiceFeedBack"/>
    <dubbo:reference interface="com.dhr.basic.dubbo.service.HelloService" group="member" id="helloServiceMember"/>

    <!--结果缓存-->
    <dubbo:reference interface="com.dhr.basic.dubbo.service.HelloService" cache="lru"></dubbo:reference>
    <!--或者针对方法进行缓存-->
    <dubbo:reference interface="com.dhr.basic.dubbo.service.HelloService">
        <dubbo:method name="writeHello" cache="lru" ></dubbo:method>
    </dubbo:reference>

</beans>